<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form>
            <hr>
            <h2>PB AWS - Jhonatan Gonçalves Pereira</h2>
            <hr>
            <h4>Envio de email usando API do GMAIL</h4>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email">
                <small id="emailHelp" class="form-text text-muted">Seus dados estão seguros.</small>
            </div>
            <div class="form-group">
                <label>Assunto</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Assunto">
            </div>
            <div class="form-group">
                <label>Mensagem</label>
                <input type="text" class="form-control" id="mensagem" placeholder="Mensagem">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>